<div class="top-cart" style="z-index: 1;">
    <div class="block-title no-items">
        <strong id="cartHeader">My Shopping Bag</strong>
    </div>
    <div id="topCartContent" class="block-content" style="overflow: visible; display: none;"><div class="inner-wrapper" style="">                            <p class="block-subtitle">
        <span onclick="Enterprise.TopCart.hideCart()" class="close-btn">Close</span>
    </p>
        <p class="cart-empty">
            There are no items in your bag.            </p>
    </div></div>
    <script type="text/javascript">
        Enterprise.TopCart.initialize('topCartContent');
        // Below can be used to show minicart after item added
        // Enterprise.TopCart.showCart(7);
    </script>
</div>