<table id="shopping-cart-totals-table">
    <colgroup>
        <col>
        <col width="1">
    </colgroup>
    <tfoot>
    <tr>
        <td  class="a-left " colspan="1">
            <strong style="color:black">Grand Total:</strong>
        </td>
        <td style="" class="a-right ">
            <strong><span id="grand-total" class="price">
                $grandTotal
            </span></strong>
        </td>
    </tr>
    </tfoot>
</table>