<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--Params-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/springAppContext.xml</param-value>
    </context-param>

    <!--Servlets-->

    <servlet>
        <servlet-name>ShowProductsServlet</servlet-name>
        <servlet-class>ua.sourceit.ishop.servlet.ShowProductsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowProductsServlet</servlet-name>
        <url-pattern>/product/all/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>ua.sourceit.ishop.servlet.ProductDetailServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>NotImplementedServlet</servlet-name>
        <url-pattern>/product/notImpl/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NotImplementedServlet</servlet-name>
        <servlet-class>ua.sourceit.ishop.servlet.NotImplementedServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/product/view/*</url-pattern>
    </servlet-mapping>


    <!--Listeners-->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>ua.sourceit.ishop.servlet.listener.AppContextListener</listener-class>
    </listener>

    <!--Filters-->
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>DisableUrlSessionFilter</filter-name>
        <filter-class>ua.sourceit.ishop.servlet.filter.DisableUrlSessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>DisableUrlSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--Exception filter-->
    <filter>
        <filter-name>exception</filter-name>
        <filter-class>ua.sourceit.ishop.servlet.filter.ExceptionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>exception</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
